<h2>Preliminaries</h2>
<br/>
This assessment is based on the historical record of passengers onboard the Titanic when it hit an iceberg and sunk in 1912. Only 7 passengers are included for now - later we will look at the entire passenger roster. The data about an individual passenger will be stored in a dictionary. A list will be used to hold all of the dictionaries. This produces a spreadsheet or table as shown below.
<br/>
<br/>
<img src="https://www.dropbox.com/s/xdqv8lsvizlkua1/titanic_looping_test.png?raw=1">
<br/>
<br/>
I'll set up the data for you below.

In [ ]:
# No reason to change this code. It sets up the table.

row1 = {'Age': 22,
  'Embarked': 'S',
  'Fare': 7.25,
  'Name': 'Braund, Mr. Owen Harris',
  'Pclass': 3,
  'Sex': 'male',
  'Survived': 0
}

row2 = {'Age': 38,
  'Embarked': 'C',
  'Fare': 71.2833,
  'Name': 'Cuming, Mrs. John Bradley (Florence Briggs Thayer)',
  'Pclass': 1,
  'Sex': 'female',
  'Survived': 1
}

row3 = {'Age': 26,
  'Embarked': 'S',
  'Fare': 7.925,
  'Name': 'Heikkinen, Miss. Laina',
  'Pclass': 3,
  'Sex': 'female',
  'Survived': 1
}

row4 = {'Age': 2,
  'Embarked': 'S',
  'Fare': 21.075,
  'Name': 'Palsson, Master. Gosta Leonard',
  'Pclass': 3,
  'Sex': 'male',
  'Survived': 0
}
 
row5 = {'Age': 14,
  'Embarked': 'C',
  'Fare': 30.0708,
  'Name': 'Nasser, Mrs. Nicholas (Adele Achem)',
  'Pclass': 2,
  'Sex': 'female',
  'Survived': 1
}

row6 = {'Age': 4,
  'Embarked': 'S',
  'Fare': 16.7,
  'Name': 'Sandstrom, Miss. Marguerite Rut',
  'Pclass': 3,
  'Sex': 'female',
  'Survived': 1
}

row7 = {'Age': 58,
  'Embarked': 'S',
  'Fare': 26.55,
  'Name': 'Bonnell, Miss. Elizabeth',
  'Pclass': 1,
  'Sex': 'female',
  'Survived': 1
}

titanic_starter_table = [row1, row2, row3, row4, row5, row6, row7]

<h2>Challenge 1</h2>
<br/>
Create a variable <code>miss_s</code> that contains the row information (the python dictionary) for Miss Sandstrom.
<br><br>
Reminder: <code>titanic_starter_table</code> represents the table as a list of dictionaries. Each item in the list is a row. Think about how to access items in a list.
<br/>
<br/>

In [ ]:
# Provide the code to get the record for Miss. Sandstrom

In [ ]:
print(miss_s)  # you can't do this in the poco assessment but can do it in notebook

<h2>Challenge 2</h2>
<br/>
Create a variable <code>miss_s_age</code> that contains the age for Miss Sandstrom. You can assume  the variable <code>miss_s</code> is correctly defined from the prior assignment.
<br/>
<br/>
I realize you can just look at the table and type in the value. But the challenge is to pretend you cannot see the value directly. How can you use the value in <code>miss_s</code> to get the age value?
<br/>
<br/>
<img src="https://www.dropbox.com/s/ii56cqlski3udy9/challenge1_age.png?raw=1">
<br/>
<br/>

In [ ]:
print(miss_s_age)

<h2>Challenge 3</h2>
<br/>
Get the value of Mr. Braund's age and place it in the variable <code>mr_braund_age</code>.
<br/>

In [ ]:
print(mr_braund_age)

<h2>Challenge 4</h2>
<br/>
Create a list that contains the integer values of all ages in the table. Place the list in the variable <code>int_all_ages</code>.
<br/>
<br/>
<img src="https://www.dropbox.com/s/bt8hlj4tr162kt6/Screen%20Shot%202016-07-13%20at%2012.34.38%20PM.png?raw=1">

In [ ]:
print(int_all_ages)

<h2>Challenge 5</h2>
<br/>
Assume <code>int_all_ages</code> is properly defined. Add the values in <code>int_all_ages</code> by using <code>sum</code>. Store the result in <code>sum_all_ages</code>.
<br/>

In [ ]:
print(sum_all_ages)

<h2>Challenge 6</h2>
<br/>
Assume <code>sum_all_ages</code> and <code>int_all_ages</code> hold the proper values. Compute the average age. Place the result in a variable called <code>average_age</code>. Be aware that when you divide two integers, your result is an integer, i.e., you lose the remainder. We will see how to deal with that later.
<br/>

In [ ]:
print(average_age)  # should be an integer value

<h2>Challenge 7</h2>
<br/>
Use the steps you have completed in Challenges 1-6 as a guide to compute the average Fare from the table. Store your result in <code>average_fare</code>. Note that the column contains decimal numbers so that when you divide you will get a decimal number.
<br/>
<br/>
<img src="https://www.dropbox.com/s/ozp0zjxb5nhi5td/Screen%20Shot%202016-07-13%20at%2012.38.11%20PM.png?raw=1">
<br/>

In [ ]:
print(average_fare)

<h2>Challenge 8</h2>
<br/>
Use the steps you have done in Challenges 1-6 as a guide to compute the average name length from the table. Hint: remember the function len will give you the length of a single string. Store your result in <code>average_name_length</code>. As with age, you will be dividing 2 integers so will get an integer result.
<br/><br/>
<img src="https://www.dropbox.com/s/n24yi49rs53olfc/Screen%20Shot%202016-07-13%20at%2012.40.24%20PM.png?raw=1">
<br/>

In [ ]:
print(average_name_length)  # will be an integer - you will lose the remainder when you divide