# Intro to Module 1 Assessment Notebook

These are the 8 challenges from the Poco site for Module 1. You should solve each challenge sequentially - don't skip around or you will likely get errors.

Why solve the challenges here first? Because you have the ability to use print statements and auto-complete, neither of which is available on the Poco site. In general, a notebook is a much better place to debug your code.

I added a new code cell under Challenge 1 to print. You can add new code cells for printing under the other challenges by using the + button on menu bar above.

## Challenge 1

Create 3 labeled boxes named one, two, three with values 1,2,3 in each respectively.

### Hint

You can print out the values in your boxes to make sure they are what you expect. This is try for all the challenges below. Reminder: to add a new code cell use the + button in the menu bar above.

In [ ]:
print(one)
print(two)
print(three)

## Challenge 2

Use the + operator to add 1 to the value in each of the boxes you created above.

## Challenge 3

Create 3 new boxes month_1, month_2, month_3 that have the values 'January' , 'February', 'March' respectively.

## Challenge 4

Assume that the boxes month_1, month_2 and month_3 have been defined correctly - you can reference their values by just using their names. Create a new box called quarter1 that contains a list of the 3 months.

## Challenge 5

Assume that the boxes month_1, month_2 and month_3 have been defined correctly - you can reference their values by just using their names. Define a dictionary with keys 'One', 'Two', 'Three' and values in the boxes month_1, month_2 and month_3 respectively (the boxes you defined in Challenge 3). Put the dictionary in a box called dict_practice.

## Challenge 6

Define a dictionary for each of 3 dogs. The first dog has 'Name' 'Daisy' and 'Weight' 23. Build the dictionary and place in box daisy. The second dog has 'Name' 'Rusty' and 'Weight' 42. Build the dictionary and place in box rusty. The 3rd dog has 'Name' 'Ramona' and 'Weight' 25. Build the dictionary and place in box ramona.

## Challenge 7

Assume that the boxes daisy, rusty and ramona have been defined correctly - you can reference their values by just using their names. Define a list that contains the 3 dogs. Put the list in a box called dogs.

Note that your list of dictionaries is a way in Python to store a table/spreadsheet like this:

<img src="https://www.dropbox.com/s/migc5anhpn7yyvb/Screen%20Shot%202016-07-18%20at%2012.05.01%20PM.png?raw=1">

<head>

  <style>
    table {
      border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid black;
        padding: 15px;
        text-align: center;
        font-family:"Arial", Helvetica, sans-serif;
    }
  </style>

</head>
<body>
<h2>Challenge 8</h2>
<br/>
First create a labeled-box <code>row0</code> for the first row in the table. Use a dictionary to represent the data in the row. Do the same with the next two rows using <code>row1</code> and <code>row2</code>, respectively.
<p>
Finally, build a list  that contains the 3 rows and place it in <code>crime_table</code>.
<p style="margin-bottom:55px">
Hint: you can copy text from the table and paste it into your Python code to avoid typing long strings.
</p>
  <table>
    <tr>
      <th>cdatetime</th>
      <th>address</th>
      <th>district</th>
      <th>beat</th>
      <th>grid</th>
      <th>crimedescr</th>
      <th>latitude</th>
      <th>longitude</th>
    </tr>
    <tr>
      <td>1/1/2006 0:00:00</td>
      <td>3108 OCCIDENTAL DR</td>
      <td>3</td>
      <td>3C</td>
      <td>1115</td>
      <td>TAKE VEH W/O OWNER</td>
      <td>38.55042047</td>
      <td>-121.3914158</td>
    </tr>
    <tr>
      <td>1/1/2006 0:00:00</td>
      <td>2082 EXPEDITION WAY</td>
      <td>5</td>
      <td>5A</td>
      <td>1512</td>
      <td>BURGLARY RESIDENCE</td>
      <td>38.47350069</td>
      <td>-121.4901858</td>
    </tr>
    <tr>
      <td>1/1/2006 0:00:00</td>
      <td>4 PALEN CT</td>
      <td>2</td>
      <td>2A</td>
      <td>212</td>
      <td>TAKE VEH W/O OWNER</td>
      <td>38.65784584</td>
      <td>-121.4621009</td>
    </tr>
  </table>
</body>

# References