## A place to debug

This notebook is a place for you to work on the assessment problems in this module. Below is the code to build the starter table used in the assessment. Feel free to try out whatever you want - it's your notebook and you can't hurt anything. The list `titanic_starter_table` represents the spreadsheet or table as shown below.

Note: a poco assessment lets you jump around in the challenges. When solving the challenges below, solve them sequentially.

<img src="https://www.dropbox.com/s/xdqv8lsvizlkua1/titanic_looping_test.png?raw=1">

In [1]:
# No reason to change this code. It sets up the table.

row1 = {'Age': 22,
  'Embarked': 'S',
  'Fare': 7.25,
  'Name': 'Braund, Mr. Owen Harris',
  'Pclass': 3,
  'Sex': 'male',
  'Survived': 0
}

row2 = {'Age': 38,
  'Embarked': 'C',
  'Fare': 71.2833,
  'Name': 'Cuming, Mrs. John Bradley (Florence Briggs Thayer)',
  'Pclass': 1,
  'Sex': 'female',
  'Survived': 1
}

row3 = {'Age': 26,
  'Embarked': 'S',
  'Fare': 7.925,
  'Name': 'Heikkinen, Miss. Laina',
  'Pclass': 3,
  'Sex': 'female',
  'Survived': 1
}

row4 = {'Age': 2,
  'Embarked': 'S',
  'Fare': 21.075,
  'Name': 'Palsson, Master. Gosta Leonard',
  'Pclass': 3,
  'Sex': 'male',
  'Survived': 0
}

row5 = {'Age': 14,
  'Embarked': 'C',
  'Fare': 30.0708,
  'Name': 'Nasser, Mrs. Nicholas (Adele Achem)',
  'Pclass': 2,
  'Sex': 'female',
  'Survived': 1
}

row6 = {'Age': 4,
  'Embarked': 'S',
  'Fare': 16.7,
  'Name': 'Sandstrom, Miss. Marguerite Rut',
  'Pclass': 3,
  'Sex': 'female',
  'Survived': 1
}

row7 = {'Age': 58,
  'Embarked': 'S',
  'Fare': 26.55,
  'Name': 'Bonnell, Miss. Elizabeth',
  'Pclass': 1,
  'Sex': 'female',
  'Survived': 1
}

titanic_starter_table = [row1, row2, row3, row4, row5, row6, row7]

## Challenge 1

Create a sub-table, called child_table, that holds all passesngers that are younger than 9. Use a filtered map to do so.

## Challenge 2

Create a sub-table, called expensive_table, that holds all passengers that paid more than 30.0 (pounds?). Use a filtered map to do so.

## Challenge 3

You can assume that expensive_table holds the proper value. Create a sub-table, called expensive_class1_table, that holds all passesngers that paid more than 30.0 (pounds?) and were in Pclass 1. Use a filtered map to do so.

## Challenge 4

Find how many passengers that Embarked in S (i.e., Southhampton) did survive. Place your result in the variable s_survived_count. Use concepts you have learned in modules 2 and 3 to do this calculation.

## Challenge 5

Compute the average fare for those passengers that were not in Pclass 3 (the bottom deck). Place your result in the variable average_fare_not_class_3. Use concepts you have learned in modules 2 and 3 to create the value.

## Challenge 6

Find the average age of the female passengers. Place your result in <code>average_female_age</code>. Use concepts you have learned in modules 2 and 3 to create the value.